@page
@model ApexUI.Pages.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="login">
        <div class="div">
            <div class="overlap-group">
                <div class="text-wrapper">Login</div>
            </div>
            <div class="overlap">
                <form method="post">
                    @Html.AntiForgeryToken()

                    <div class="text-wrapper-2">Username</div>
                    <input type="text" class="input-field" name="username" placeholder="Enter your username" required />

                    <div class="text-wrapper-3">Password</div>
                    <input type="password" class="input-field" name="password" placeholder="Enter your password" required />

                    <div class="remember-me">
                        <input type="checkbox" id="rememberMe" />
                        <label for="rememberMe" class="text-wrapper-4">Remember Me</label>
                    </div>

                    <div class="overlap-2">
                        <button type="submit" class="login-button">Login</button>
                    </div>

                </form>
                <div class="register-button-container">
                    <a href="Register" class="register-button">Register if you are new</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>