@{
    ViewData["Title"] = "Client Welcome";
}
<head>
    <link rel="stylesheet" href="~/css/ClientWelcome.cshtml.css" />
</head>
<header>
    <nav>
        @* <a href="@Url.Action("Login", "Account")">Login</a> *@ @* A new Controller needs to be created for the linking. This does not currently work. Alternatively, this needs to be in the _Layout file. *@
        @* <a href="@Url.Action("Register", "Account")">Register</a> *@ @* A new Controller needs to be created for the linking. This does not currently work. Alternatively, this needs to be in the _Layout file. *@
    </nav>
</header>

<main>
    <section class="banner">
        <img src="banner-image.jpg" alt="Program Banner" class="banner-image" />
        <hr class="separator" />
    </section>

    <h2>Description of what the program does</h2>
    <section class="info-content">
            <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </section>
    <hr class="separator" />

    <h2>Description of our technicians</h2>
    <section class="info-section">
        <div class="info-content">
            <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <div class="icon">Technician Icon</div>
        </div>
    </section>

    <section>
        <hr class="separator"/>
        <h2>Steps of Services</h2>
        <div class="serivces-content">
            <main class="steps-content">
                <p class="steps-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                </p>
            </main>
            <article>
                <div class="step">
                    <div class="icon">Step 1 Icon</div>
                    <h4>Step 1 Heading</h4>
                </div>
                <div class="step">
                    <div class="icon">Step 2 Icon</div>
                    <h4>Step 2 Heading</h4>
                </div>
                <div class="step">
                    <div class="icon">Step 3 Icon</div>
                    <h4>Step 3 Heading</h4>
                </div>
            </article>
        </div>
    </section>
</main>








@* <style>

    header, main {
        text-align: center;
    }

    .banner {
        margin-top: 20px;
    }

    .banner-image {
        width: 100%; /* Ensure the image is responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .separator {
        border: 2px double black; /* Remove default border */
    }

    h2 {
        text-align: left; /* Align headings to the left */
    }

    .description-text {
        margin-left: 15px; /* Indent paragraph text */
        text-align: left; /* Align text to the left */
        margin-right: 10%; /* Ensure there's space on the right */
    }

    .services-content{
        display: flex;
    }

    .info-section {
        margin-top: 20px;
        display: flex; /* Use flexbox for layout */
        justify-content: space-between; /* Distribute space between elements */
        align-items: center; /* Center elements vertically */
    }

    .info-content {
        display: flex; /* Arrange content horizontally */
        justify-content: space-between; /* Space between text and icon */
        width: 100%; /* Make sure the content takes full width */
        margin-left: 10%; /* Align to the left */
    }

    .steps {
        margin-top: 20px;
    }

    .steps-content {
        display: flex; /* Arrange content horizontally */
        justify-content: space-between; /* Space between text and steps */
        margin-left: 10%; /* Align to the left */
    }

    .steps-container {
        display: flex; /* Use flexbox for layout */
        justify-content: flex-start; /* Align items to the left */
        align-items: center; /* Center elements vertically */
        margin-right: 10px;
    }

    .step {
        display: flex; /* Align step content horizontally */
        align-items: center; /* Center vertically */
        margin-right: 20px; /* Space between steps */
    }

    .icon {
        margin-left: auto; /* Push icon to the right */
    }


</style> *@
